#logomob {   /* Configurações Para a Div que armazena o Logotipo da Mob2con */
    position: absolute;
    width: 158px;
    height: 52px;
    left: 537px;
    top: 124px;
}

#titulo {  /* Configurações para a div denominada "Título" */
    position: absolute;
    width: 208px;
    height: 30px;
    left: 65px;
    top: 110px; 
}




#indus {
    position: absolute;
    width: 80px;
    height: 23px;
    left: 65px;
    top: 190px;
}

#pprod {
    position: absolute;
    width: 176px;
    height: 23px;
    left: 65px;
    top: 429px;
}



h1 {  /* Primeiro Exercicio*/ 
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
}

h2 { /*Industria*/
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

h3 { /*Principais Produtos*/
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}


#um{ 
    position: absolute;
    width: 200.5px;
    height: 59px;
    left: 65px;
    top: 472px;
    text-align: center;
    background: #C4C4C4;
}


#dois{
    background-color: #C4C4C4;
    position: absolute;
    left: 274px;
    top: 472px;
    width: 200.5px;
    text-align: center;
    height:59px;
}


#tres{
    background-color: #C4C4C4;
    position: absolute;
    left: 483px;
    top: 472px;
    width: 200.5px;
    text-align: center;
    height:59px;
}


#quatro{
    background-color: #C4C4C4;
    position: absolute;
    left: 65px;
    top: 539px;
    width: 200.5px;
    text-align: center;
    height:59px;
}


#cinco{
    background-color: #C4C4C4;
    position: absolute;
    left: 274px;
    top: 539px;
    width: 200.5px;
    text-align: center;
    height:59px;
}


#seis{
    background-color: #C4C4C4;
    position: absolute;
    left: 483px;
    top: 539px;
    width: 200.5px;
    text-align: center;
    height:59px;
}









#a1 { /* Div Label CNPJ */
    position: absolute;
    width: 46.11px;
    height: 19px;
    left: 65px;
    top: 238px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    
}


#a2 { /* Div Input CNPJ */
    position: absolute;
    width: 305.97px;
    height: 34px;
    left: 65px;
    top: 262px;
    background: #C4C4C4;
}

#incnpj { /* Especificações Input CNPJ */
    width: 305.97px;
    height: 34px;
    background: #C4C4C4;
}



#b1 { /* Div Label Razão Social */
    position: absolute;
    width: 115px;
    height: 19px;
    left: 389px;
    top: 238px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

#b2 { /* Div Input Razão Social */
    position: absolute;
    width: 305.97px;
    height: 34px;
    left: 389px;
    top: 262px;
    background: #C4C4C4;
}

#inrazao { /*Especificações Input razaosocial */
    width: 305.97px;
    height: 34px;
    background: #C4C4C4;
}

#c1 { /* Div Label Endereço */
    position: absolute;
    width: 183.25px;
    height: 19px;
    left: 65px;
    top: 309px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

#c2 { /* Div textarea Endereço */
    position: absolute;
    width: 630px;
    height: 87px;
    left: 65px;
    top: 333px;
    background: #C4C4C4;
}

textarea { /* Especificações textarea endereco */
    width: 630px;
    height: 87px;
    background: #C4C4C4;
}
